header {
    width: 100%;
    background-image: linear-gradient(180deg, var(--cor1), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px
}

header > h1 {
    color: white;
    font-family: var(--bebas-font);
    padding-bottom: 8px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
}

header > p {
    color: white;
    font-size: 1.2em;
    font-family: var(--default-font);
    max-width: 500px;
    margin: auto;
    padding: 0 10px 50px 10px;
    text-shadow: 2 2 black;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.185);
}
nav a {
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

header h1 {
    display: block;
    margin: auto;
}